@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.wrapper{
    display: flex;
    overflow: hidden;
    height: 100vh;
}

.sidebar{
    display: block;
    width: 400px;
    background: #383838;
}

.container{
    display: flex;
    flex-direction: column;
    flex:1;
    background: aqua;
}

.header{
    height: 100px;
    background: #FFFFFF;
}

.content{
    flex: 1;
    overflow: auto;
    background: #CCCCCC;
}

.text_logo{
    position: absolute;
    width: 216px;
    height: 74px;
    left: 81px;
    top: 52px;

    font-family: Bebas Neue, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #43B0ED;
}

.ellipse{
    position: absolute;
    width: 398px;
    height: 79px;
    left: -9px;
    top: 112px;
    shape-outside: ellipse();
    clip-path: ellipse();
    background: #383838;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.menu{
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 200px;
}
.menu-item{
    display:block;
    border-bottom: 1px solid rgba(242,242,242, .1);
}
.menu-item_active{
    display:block;
    border-bottom: 1px solid rgba(242,242,242, .1);
}
.menu-item:hover{
    background:#52ea91;
}
.menu-item:last-child{
    border-bottom: none;
}
.menu-item a{
    text-decoration:none;
    display:grid;
    height: 70px;
    font-family:"Open Sans", sans-serif;
    font-style:normal;
    font-weight: 600;
    font-size:18px;
    line-height: 22px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.menu-item_active a{
    text-decoration:none;
    display:grid;
    height: 70px;
    font-family:"Open Sans", sans-serif;
    font-style:normal;
    font-weight: 600;
    font-size:18px;
    line-height: 22px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background:#52ea91;
}

li {
    text-align: center;
    list-style-type: none;
}
li:active{
    background:#52ea91;
}